<!DOCTYPE html>
<html>
	<head>
		<title>dojo</title>
		<meta charset="utf-8">
  	<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style_sheet.css') }}">
  	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script> -->
	</head>
	<body>
	<h1>Become a Ninja</h1><hr>
		<form>
			<p>First Name:</p><input type="text" class="text_input" id="first_name" name="First" placeholder="First Name">
			<p>Last Name:</p><input type="text" class="text_input" id="last_name" name="Last" placeholder="Last Name">
			<p>Email Address:</p> <input type="text" class="text_input"  id="email" name="email" placeholder ="Email Address">
			<p>Contact No.:</p><input type="text" class="text_input"  id="contact" name="phone" placeholder ="Phone #">
			<input type="submit" value="ninja me."/>
		</form>
	</body>
</html>